// HEADER
.header-container{
  min-height: $headerHeight;
  padding: 0 20px;
  background-color: #000;
}

.header-top{
  min-height: 50px;
  justify-content: flex-end;
  align-items: center;

    .secondary-nav{

      &-list{
        @include reset-list;
        li{
          flex-shrink: 0;
          margin: 0 10px;
          i{
            color: $mainColor;
            font-size: 14px;
          }
          a{
            font-size: 12px;
            color: $darkGrey;
            text-decoration: none;
          }
          a:hover{
            color: #fff;
            text-decoration: underline;
          }
        }

      }

      #language-select{

      }
    }
}

.header-bottom{
  min-height: 50px;
  align-items: center;

  .img-logo-wrapper{
    @media screen and (min-width: 0px) and (max-width: 992px){
      &{
        width: 100%;
        text-align: left;
      }
    }

    img{
      width: 90px;
    }
  }

  .primary-nav{
    max-width: calc(100% - 90px);

    &-list{
      @include reset-list;
      li{
        max-width: calc(100% / 8);
        a{
          padding: 15px 20px;
          color: #fff;
          text-decoration: none;
          font-size: 12px;
        }
        a:hover{
          color: #000;
          background-color: #fff;
        }
        i{
          color: $darkGrey;
          margin-left: 5px;
        }
      }
    }
    @media screen and (min-width: 0px) and (max-width: 992px){
      &{
        width: 100%;
      }
    }
  }
}
