// FONTS
$fontRoboto : 'Roboto', sans-serif;
// WIDTH
$xlWidth : 1170px;

// HEIGHT
$headerHeight : 100px;
// COLORs
$mainColor : #009cff;
$darkGrey: #998988;
$greyCarcoal: #333;
$buttonGrey: #666666;
$jumboColor: #fff;
$jumboColorSD: #000;
$lightGrey: #eaeaea;
